@require 'layout/theme'  

#rightCover
  background-color #fff
  display block
  .extra-padding
    padding 20px 30px
  .project, .writing
    padding 10px 0px
    ul.list-inline
      li
        a
          font-size 1em
          margin 5px 0px

#leftCover
  padding 0px
  background-color #f5f5f5
  .inside-links
    margin 15px
    li.active a, li a:hover
      background-color $theme-color
      color white !important
      outline none
    li
      a
        border-radius 0px
        background none
        border none
        outline 1px solid #aaa
        font-size 1.4em
        max-width 200px
        margin 5px auto
        color #999 !important
  .outside-links
    margin-top 10px
    li
      a
        transition all 0.5s
        color #666
        i.fa
          font-size 2em
      a:hover
        color #333
  img#me
    display block
    margin-left auto
    margin-right auto
    width 100%
    max-width 200px
