doctype html
//Homepage Author: Pranav Rajpurkar 2016
html
  head
    meta(charset='utf-8')
    block title
    block description
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(property='og:image', content='/images/me.jpg')
    link(rel="image_src", type="image/jpeg", href="/images/me.jpg")
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400&display=swap")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    include analytics
    block extralinks
  body
    block content
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
