extends includes/layout

block title
  title Bio

block description
  meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  section
    .container
      .row
        .col-md-6.col-md-offset-3
          p Pranav is a 5th year PhD candidate in the Stanford Machine Learning Group co-advised by Andrew Ng and Percy Liang. His research interest is in building artificial intelligence (AI) technologies to tackle real world problems in medicine. His PhD work has led to the development of AI technologies for clinical medicine (CheXNet), and large datasets that have facilitated advancements of AI technologies in both medicine (CheXpert) and natural language processing systems (SQuAD). His long term mission is to build AI technologies that will be used routinely for diagnosis, prognosis, and treatment of patients.
          p Pranav received both his Bachelors and Masters Degrees in Computer Science from Stanford. His research has been published in top medical journals (Nature Medicine, PLOS Medicine) and top computer science conferences (ACL, EMNLP, AAAI), and covered by media outlets including NPR, Washington Post, and WIRED. He designed the AI for Healthcare Bootcamp at Stanford, where he has mentored 100 Stanford students on AI for Healthcare research projects. With Eric Topol, he writes Doctor Penguin, a weekly newsletter highlighting AI for Medicine research with 3500+ readers. He has designed and instructed the Coursera specialization on AI for Medicine, with 25,000+ students.
