extends includes/layout

block title
  title Bio

block description
  meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  section
    .container
      .row
        .col-md-6.col-md-offset-3
          p Pranav Rajpurkar is a 4th year PhD candidate in the Stanford Machine Learning Group co-advised by Andrew Ng and Percy Liang. Rajpurkar's research interests lie in developing and deploying artificial intelligence systems for medical applications, in an effort to augment clinicians and improve healthcare delivery worldwide. To this end, he has developed several high-performance ML algorithms for clinical medicine (CheXNet, CheXNeXt, MRNet), curated large datasets that can facilitate advancements of ML methods (SQuAD, MURA, CheXpert), and led several interdisciplinary research teams as part of the AI for Healthcare Bootcamp at Stanford. His research has been covered in the popular press, including NPR, Washington Post, The Economist, WIRED, and MIT Technology Review. Outside research, Rajpurkar enjoys building apps and has co-founded Edusalsa, a course planning platform that has been used by over 3000 Stanford students. Rajpurkar received his B.S. from Stanford in Computer Science with distinction and honors in 2015 and his M.S. also from Stanford in 2018.
