extends includes/layout

block title
  title Bio

block description
  meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  section
    .container
      .row
        .col-md-6.col-md-offset-3
          p Pranav Rajpurkar is an Assistant Professor at Harvard University in the Department of Biomedical Informatics. His research approaches problems in clinical medicine with a computational lens, developing algorithms and datasets that can drive AI technologies to support medical decision making. He co-hosts The AI Health Podcast and co-edits the Doctor Penguin AI Health Newsletter. He instructed the Coursera course series on AI for Medicine, and founded the AI for Healthcare Bootcamp Program. Previously, he completed his PhD co-advised by Andrew Ng and Percy Liang at Stanford, where he also received both his Bachelors and Masters Degrees in Computer Science.
          a(href="https://rajpurkar.github.io/images/PranavRajpurkar.jpg") headshot

