extends includes/layout

block title
  title Bio

block description
  meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  section
    .container
      .row
        .col-md-6.col-md-offset-3
          p Pranav Rajpurkar is a final year PhD candidate at Stanford in Computer Science, and an incoming Assistant Professor at Harvard in the Department of Biomedical Informatics. Pranav works on building reliable artificial intelligence (AI) technologies for medical decision making. Pranav’s work has been published in 30+ peer-reviewed publications in both scientific journals and AI conferences (receiving over 8000 citations) and has been covered by media outlets including NPR, The Washington Post, and WIRED. Pranav founded the AI for Healthcare Bootcamp at Stanford, where he has worked closely with and mentored over 100 Stanford students and collaborated with 18 faculty members on various research projects. He designed and instructed the Coursera course series on AI for Medicine, now with 40,000+ students. Pranav’s PhD was jointly advised by Dr. Andrew Ng and Dr. Percy Liang at Stanford University, where Pranav also received both his Bachelors and Masters Degrees in Computer Science.
          a(href="https://rajpurkar.github.io/images/PranavRajpurkar.jpg") headshot

