extends includes/layout

block title
  title Pranav Rajpurkar

block description
  meta(name='description', content='I am a 4th year PhD candidate in the Stanford Machine Learning Group co-advised by Andrew Ng and Percy Liang. I am interested in developing and deploying artificial intelligence systems for medical applications, in an effort to augment clinicians and improve healthcare delivery worldwide.')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(type="text/javascript" src="/bibtex-js.js")
  bibtex(src="/files/my.bib")

block content
  section
    .container
      .row
        .col-md-7.col-md-offset-1
          .media
            .media-left.media-middle
              img.media-object#me(src="/images/PranavRajpurkar.jpg")
            .media-body
              h1 Pranav Rajpurkar
              h4 PhD candidate in Computer Science
              h4 Stanford University
              p pranavsr@cs.stanford.edu
              ul.list-inline
                li
                  a(href="https://scholar.google.com/citations?user=QcOG6sgAAAAJ")
                    | Google Scholar
                li
                  a(href="https://twitter.com/pranavrajpurkar")
                    | Twitter
                li
                  a(href="https://github.com/rajpurkar")
                    | GitHub
          hr
          .row
            .col-md-12
              p I am a 4th year PhD candidate in the Stanford Machine Learning Group co-advised by Andrew Ng and Percy Liang. I am interested in developing and deploying artificial intelligence systems for medical applications, in an effort to augment clinicians and improve healthcare delivery worldwide. I have developed several high-performance ML algorithms for clinical medicine (HeadXNet, CheXNet, CheXNeXt, MRNet), curated large datasets that can facilitate advancements of ML methods (SQuAD, MURA, CheXpert), and led several interdisciplinary research teams as part of the AI for Healthcare Bootcamp at Stanford.
              p My research has been published in medical journals including Nature Medicine and PLOS Medicine, and CS conferences including ACL (best paper award), EMNLP (best paper award), AAAI and CHI. My research has also been covered in the popular press, including NPR, Washington Post, The Economist, WIRED, and MIT Technology Review. Outside research, I enjoy building apps and co-founded Edusalsa, a course planning platform that has been used by over 3000 Stanford students. I’m a Stanford Accel Innovation Scholar ‘18, and a Tau Beta Pi graduate ‘15. Prior to my PhD, I received my B.S. from Stanford in Computer Science with distinction and honors in 2015 and my M.S. also from Stanford in 2018.
          .row
            .col-md-12
              h3 Teaching
              h4 
                a(href="//stanfordmlgroup.github.io/programs/aihc-bootcamp/") AI for Healthcare Bootcamp
              .media
                .media-left
                  img.media-object#me(src="/images/bootcamp.jpg")
                .media-body
                  p I lead the AI For Healthcare bootcamp at Stanford, a selective research program to train Stanford students in both Computer Science and Medicine to do cutting-edge research at the intersection of machine learning for healthcare. Students work in interdisciplinary teams of 3-6 with me and with a faculty in the medical school. I’ve worked with 10 medical school faculty as part of this bootcamp, and trained 58 undergraduate, masters and medical students over the past 20 months. 
              h3 Papers
              include includes/bib_display
              hr
        .col-md-3
          h3 Projects
          h4 ML Algorithms For Medicine
          ul.list-inline
            li
              a(href="//jamanetwork.com/journals/jamanetworkopen/fullarticle/2735471") HeadXNet
            li
              a(href="//stanfordmlgroup.github.io/projects/mrnet/") MRNet
            li
              a(href="//stanfordmlgroup.github.io/projects/ecg2/") Arrythmia detection
            li
              a(href="//www.ahajournals.org/doi/full/10.1161/CIRCOUTCOMES.118.005010") Blood Pressure Treatment
            li
              a(href="//stanfordmlgroup.github.io/projects/chexnext/") CheXNeXt
            li
              a(href="//stanfordmlgroup.github.io/projects/chexnet/") CheXNet
          h4 Datasets For ML Advancements
          ul.list-inline
            li
              a(href="//rajpurkar.github.io/SQuAD-explorer") SQuAD
            li
              a(href="//stanfordmlgroup.github.io/competitions/chexpert/") CheXpert
            li
              a(href="//stanfordmlgroup.github.io/competitions/mura/") MURA
          h4 App Development
          ul.list-inline
            li
              a(href="//xray4all.com/") XRay4All
            li
              a(href="//edusalsa.com/") Edusalsa
            li
              a(href="//vocalet.com") Vocalet
            li
              a(href="//rajpurkar.github.io/mlx") MLX
            li
              a(href="//recommend-papers.herokuapp.com") Recommend-Papers
          hr
          h3 In the News
          h4 ML For Medicine
          ul.list-inline
            li
              a(href="https://www.npr.org/sections/health-shots/2019/04/01/708085617/how-can-doctors-be-sure-a-self-taught-computer-is-making-the-right-diagnosis") NPR
            li
              a(href="https://www.wsj.com/articles/how-robots-may-make-radiologists-jobs-easier-not-redundant-1511368729") The Wall Street Journal
            li
              a(href="https://www.technologyreview.com/s/608234/the-machines-are-getting-ready-to-play-doctor/") MIT Tech Review
            li
              a(href="https://www.economist.com/science-and-technology/2018/06/07/artificial-intelligence-will-improve-medical-treatments") The Economist
          h4 ML For Question Answering
          ul.list-inline
            li
              a(href="https://www.washingtonpost.com/business/economy/ais-ability-to-read-hailed-as-historical-milestone-but-computers-arent-quite-there/2018/01/16/04638f2e-faf6-11e7-a46b-a3614530bd87_story.html") Washington Post
            li
              a(href="https://www.theverge.com/2018/1/17/16900292/ai-reading-comprehension-machines-humans") The Verge
            li
              a(href="https://www.wired.com/story/ai-beat-humans-at-reading-maybe-not/") WIRED
            li 
          hr
          h3 Recent Talks
          .row
            .col-sm-12
              iframe(width="100%", height='200px', src="//www.youtube.com/embed/IM9ANAbufYM?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
              iframe(width="100%", height='200px', src="//www.youtube.com/embed/IkngsvWgfiQ?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
          h3 Research Videos
          .row
            .col-sm-12
              iframe(width="100%", height='200px', src="//www.youtube.com/embed/VJRCj-4E2iU?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
              iframe(width="100%", height='200px', src="//www.youtube.com/embed/XVDDEsmbjuE?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
              iframe(width="100%", height='200px', src="https://www.youtube.com/embed/X81nBdKvl7s?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
          hr
          div(style="max-height: 1000px;")
            a(class="twitter-timeline" data-height="800" href="https://twitter.com/pranavrajpurkar?ref_src=twsrc%5Etfw")
              | Tweets by pranavrajpurkar
            script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

  .bibtex_structure
    .group.year(extra='DESC number')
      .sort.journal(extra='DESC string')
        .templates
