extends includes/layout

block title
  title Pranav Rajpurkar

block description
    meta(name='description', content='PhD Researcher at Stanford building artificial intelligence technologies for medical applications.')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(type="text/javascript" src="/bibtex-js.js")
  bibtex(src="/files/my.bib")

block content
  section#topsection
    .container
      .row
        .col-xs-12
          .row
            .col-xs-3
              img#me(src="/images/PranavRajpurkar.jpg")
            .col-xs-9
              h1 Pranav Rajpurkar
              h4 Assistant Professor of Biomedical Informatics
              h4 Harvard Medical School
              p pranav_rajpurkar at hms.harvard.edu
  section#linkssection
    .container
      .row
        .col-md-12
            ul.list-inline
              li
                a(href="https://twitter.com/pranavrajpurkar")
                  h5 Twitter
              li
                a(href="https://scholar.google.com/citations?user=QcOG6sgAAAAJ")
                  h5 GScholar
              li
                a(href="https://github.com/rajpurkar")
                  h5 GitHub
              li
                  h5 //
              li
                a(href="//theaihealthpodcast.com/")
                  h5 The AI Health Podcast
              li
                a(href="//doctorpenguin.com/")
                  h5 Doctor Penguin
              li
                  h5 //
              li
                a(href="//stanfordmlgroup.github.io/programs/aihc-bootcamp/")
                  h5 AI for Healthcare Bootcamp
              li
                a(href="//www.coursera.org/specializations/ai-for-medicine/")
                  h5 AI for Medicine Coursera
  section#biosection
    .container
      .row
        .col-md-9
            p 
              | My research approaches problems in clinical medicine with a computational lens. My goal is to develop algorithms and datasets that can drive AI technologies to support medical decision making. I co-host The AI Health Podcast and co-edit the Doctor Penguin AI Health Newsletter. I instructed the Coursera course series on AI for Medicine, and founded the AI for Healthcare Bootcamp Program. Previously, I completed my PhD co-advised by Andrew Ng and Percy Liang at Stanford, where I also received both my Bachelors and Masters Degrees in Computer Science.
  section#vidsection
    .container
      .row
        .col-md-6
            h3 The AI Health Podcast
            .row
              .col-sm-12
                iframe(width="100%", height="700px", frameborder="no", scrolling="no", seamless, src="https://player.simplecast.com/2e18c3df-6731-4f33-b4d3-952edd86ce00?dark=false&show=true")
            hr
            h3 Selected Research Videos
            .row
              .col-sm-12
                iframe(width="100%", height='300px', src="//www.youtube.com/embed/VJRCj-4E2iU?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
                iframe(width="100%", height='300px', src="//www.youtube.com/embed/XVDDEsmbjuE?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
        .col-md-6
            h3 Recent Talk
            .row
              .col-sm-12
                iframe(width="100%", height='300px', src="//www.youtube.com/embed/PazX2Nzfo8w?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
            hr
            h3 Coursera Course
            .row
              .col-sm-12
                iframe(width="100%", height='300px', src="//www.youtube.com/embed/zGFKSQlef_0?ecver=1",frameborder="0",allow="autoplay; encrypted-media",allowfullscreen)
            hr
            h3 Recent Tweets
            .row
              .col-sm-12
                div(style="max-height: 600px; width:100%;")
                  a(class="twitter-timeline" data-height="600" href="https://twitter.com/pranavrajpurkar?ref_src=twsrc%5Etfw")
                    | Tweets by pranavrajpurkar
                  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  section
    .container
      .row
        .col-md-9
          h3 Papers
          include includes/bib_display
          .bibtex_structure
            .group.year(extra='DESC number')
              .sort.journal(extra='DESC string')
                .templates
