extends includes/layout

block title
  title Pranav Rajpurkar

block description
  meta(name='description', content='I\'m Pranav Rajpurkar, a PhD student in Stanford\'s Computer Science department. Here I share some of my projects.')
  if writings
    meta(name='robots', content='noindex')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

include mixins/projectList
include mixins/writingList

block content
  .outer
    .sidebar
      .cover#leftCover
        .vertical-center
          .container
            .row
              img.media-object.img-circle#me(src="/images/PranavRajpurkar.jpg")
              h1 Pranav Rajpurkar
              h3 PhD student in Computer Science <br> Stanford University
              h4 pranavsr@cs.stanford.edu
              ul.list-inline.outside-links
                li
                  a(href="https://twitter.com/pranavrajpurkar")
                    i.fa.fa-twitter
                li
                  a(href="https://scholar.google.com/citations?user=QcOG6sgAAAAJ")
                    i.fa.fa-mortar-board
                li
                  a(href="https://github.com/rajpurkar")
                    i.fa.fa-github
    .contentbar
      .cover#rightCover
        .col-lg-8.col-lg-offset-1.col-md-9.col-md-offset-1.col-sm-10.col-sm-offset-1
          if projects
            h2 Bio
            p 
              | I’m a 4th year PhD candidate in the Stanford Machine Learning Group co-advised by Professor Andrew Ng and Professor Percy Liang. I work on the development and deployment of deep learning algorithms for automated diagnosis, prognosis, and treatment of diseases. I have developed models for automated detection of arrhythmias, multiple pathology detection under uncertainty for x-rays (CheXNet, MURA, CheXNeXt), and augmentation of experts in knee MRI interpretation (MRNet). I have also developed SQuAD, a machine reading comprehension dataset.
              +projectList(projects)
          if writings
            +writingList(writings)
