extends includes/layout

block title
  title Pranav Rajpurkar

block description
  meta(name='description', content='I\'m Pranav Rajpurkar, a PhD student in Stanford\'s Computer Science department. Here I share some of my projects and writings.')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')

include mixins/projectList
include mixins/writingList

block content
  .outer
    .sidebar
      .cover#leftCover
        .vertical-center
          .container
            .row
              img.media-object.img-circle#me(src="/images/me.jpg")
              h1 Pranav Rajpurkar
              h3 PhD student in Computer Science<br/>@ Stanford University
              ul.list-unstyled.inside-links
                li(class= projects ? "active" : "")
                  a(href='/projects').btn.actionBtn.inverseBtn
                    | Projects
                li(class= writings ? "active" : "")
                  a(href='/writings').btn.actionBtn.inverseBtn
                    | Writings
              ul.list-inline.outside-links
                li
                  a(href="https://github.com/rajpurkar")
                    i.fa.fa-github
                li
                  a(href="https://twitter.com/pranavrajpurkar")
                    i.fa.fa-twitter
                li
                  a(href="http://dblp.uni-trier.de/pers/hd/r/Rajpurkar:Pranav")
                    i.fa.fa-newspaper-o
    .contentbar
      .cover#headingCover
        .col-lg-8.col-lg-offset-1.col-md-9.col-md-offset-1.col-sm-10.col-sm-offset-1
          if projects
            h2 Projects
            h3 AI+ Research and App Development
          if writings
            h2 Writings
            h3 Poetic Musings
      .cover#rightCover
        .col-lg-8.col-lg-offset-1.col-md-9.col-md-offset-1.col-sm-10.col-sm-offset-1
          if projects
            +projectList(projects)
          if writings
            +writingList(writings)