extends _inc/layout

block content
  article.full
    h1(itemprop='headline')= page.title
    span.post-meta
      | Published on
      time(itemprop='datePublished', datetime= page.date.toISOString())= full_date(new Date(page.date), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.date), 'H:mm')
      if page.updated
        br
        | Last updated on
        time(itemprop='dateModified', datetime= page.date.toISOString())= full_date(new Date(page.updated), ' dddd, MMMM Do YYYY') + ' at ' + full_date(new Date(page.updated), 'H:mm')
    != page.content