img#me {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 100%;
}
.bibtexentry > ul {
  list-style: none;
  padding-left: 0;
}
.bibtexentry > ul li {
  margin-bottom: 10px;
}
#topsection {
  background: #a51c30;
}
#topsection h1,
#topsection h2,
#topsection h3,
#topsection h4,
#topsection p,
#topsection a {
  color: #fff;
}
#linkssection {
  background: #1e1e1e;
}
#linkssection a {
  color: #fff;
  text-decoration: underline;
}
#biosection {
  background: #dedede;
}
#vidsection {
  background: #efefef;
}
