@require 'layout'

.textarea-wrapper
  margin 0 0 0 0px
  background #fff
  border-radius 0px
  .textarea
    overflow auto
    height 80px
    width 100%
    color #666
    cursor text
    resize none
    border 0
    margin 0
    padding 12px
    line-height 1.5em
    font-size 1em
    transition all .15s ease-in-out
    box-sizing border-box
  .textarea:focus
    outline: none

#topCover
  min-height 100%
  .textarea
    border 1px solid #eee
    min-height 150px

.antispam 
  display none