.project
  .title
    font-size 2em
    border-bottom 1px solid #ddd
    color #555
  .info
    color #999
    font-size 1.3em
  .projectDescription
    padding 10px 0px
    font-size 1.3em
    line-height 1.5em
    font-weight 400
    color #555
  .link
    font-size 1em
    margin 5px 0px
  padding 10px 0px