.thought
  border-bottom 6px solid #eee
  .title
    text-transform capitalize
  .source
    font-size 0.9em
    color #999
  .thoughtContent
    margin 1em 0
    font-size 1.1em
  .list-inline > li > p
    color #999
    font-size 0.8em
